@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");

:root {
  --violet: #5964e0;
  --light-violet: #939bf4;
  --very-dark-blue: #19202d;
  --midnight: #121721;
  --white: #ffffff;
  --light-grey: #979797;
  --grey: #9daec2;
  --dark-grey: #6e8098;
}
* {
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #f2f2f2;
  width: 100%;
  min-height: 100vh;
}
