.header {
  height: 160px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  // background-color: aquamarine;
  position: relative;
  background-image: url("../assets/desktop/bg-pattern-header.svg");
  background-size: 100% 16rem;
  padding-top: 4.5rem;
  padding-left: 16.5rem;
  padding-right: 16.5rem;
  display: flex;
  justify-content: space-between;

  &__logo {
    height: 3.2rem;
    width: 11.5rem;
  }
  &__theme-switcher-box {
    position: relative;
    width: 11.2rem;
    height: 2.4rem;
    // background-color: purple;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__form-container {
    position: absolute;
    background-color: var(--white);
    width: 1110px;
    height: 8rem;
    top: 120px;
    left: 277px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    overflow: hidden;
  }
  &__form {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 463px 300px 345px;
    &__box {
      // background-color: yellowgreen;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }
  &__form-icon {
    margin-right: 16px;
  }
  &__form-input {
    width: 100%;
    border: none;
    font-family: inherit;
    font-size: 16px;
    color: #19202d;
    &:focus {
      outline: none;
    }
  }
  &__form-label {
    font-weight: bold;
    font-size: 16px;
    font-family: inherit;
    cursor: pointer;
  }
  &__form-label:hover ~ .fancy-checkbox {
    background-color: var(--light-violet);
  }

  &__form-btn {
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    width: 12.3rem;
    height: 4.8rem;
    color: white;
    border: none;
    padding: 1.6rem 3.55rem 1.6rem 3.55rem;
    border-radius: 5px;
    background-color: #5964e0;
    cursor: pointer;
    &:hover {
      background-color: #939bf4;
    }
  }
}
::placeholder {
  font-family: inherit;
  font-size: 16px;
  font-weight: normal;
  color: var(--grey);
}
#search {
  margin-left: 3.2rem;
}
#location {
  margin-left: 2.3rem;
}
//###############################################################
// TOGGLE
.toggle {
  //   background-color: azure;
  width: auto;
  height: 100%;

  &__checkbox {
    display: none;
  }
  &__label {
    display: flex;
    position: relative;
    align-items: center;
    background-color: white;
    display: flex;
    width: 50px;
    height: 100%;
    border-radius: 50px;
    padding: 3px;
  }
  &__ball {
    position: absolute;
    // left: 0;
    background-color: #5964e0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    // transition: all 5s;
  }
  &__checkbox:checked ~ &__label &__ball {
    right: 3px;
  }
}
.box-2 {
  border-right: 1px solid var(--light-grey);
  border-left: 1px solid #979797;
  // background-color: yellowgreen;
}
.box-3 {
  padding-left: 32px;
  padding-right: 16px;
}
#full-time {
  visibility: hidden;
  display: none;
  opacity: 0;
  position: absolute;
  left: -9999px;
}
#full-time:checked ~ .fancy-checkbox {
  background-color: #5964e0;
  background-image: url("../assets/desktop/icon-check.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.fancy-checkbox {
  background-color: #979797;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 3px;
  transition: background-color 0.25s;
  cursor: pointer;
  &:hover {
    background-color: var(--light-violet);
  }
}

// JOBS GRID
.content {
  // background-color: tomato;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.job-grid {
  margin-top: 10rem;

  width: 1110px;
  height: 1132px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 235px);
  gap: 30px 40px;
  align-items: flex-end;
  &__card {
    background-color: white;
    height: 22.8rem;
    border-radius: 6px;
    padding: 4.9rem 3.2rem 3.2rem 3.2rem;
    position: relative;
    cursor: pointer;
    &:hover &-title {
      color: #6e8098;
    }
    &-logo {
      width: 5rem;
      height: 5rem;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -20px;
    }
    &-content {
      height: 100%;
    }
    &-posted {
      font-family: inherit;
      font-weight: normal;
      font-size: 1.6rem;
      color: #6e8098;
    }
    &-type {
      font-family: inherit;
      font-weight: normal;
      font-size: 1.6rem;
      color: #6e8098;
    }
    &-title {
      margin-top: 16px;
      font-family: inherit;
      font-weight: bold;
      font-size: 2rem;
      color: #19202d;
      transition: all 0.2s;
    }
    &-company {
      margin-top: 16px;
      font-family: inherit;
      font-weight: normal;
      font-size: 1.6rem;
      color: #6e8098;
      display: block;
    }
    &-location {
      display: inline-block;
      margin-top: 4.4rem;
      font-family: inherit;
      font-weight: bold;
      font-size: 1.4rem;
      color: #5964e0;
    }
  }
}
